src/main/wsdl/HelloWorldSoapWs.wsdl

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.morgann.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.morgann.com/" name="HelloWorldImplService">
	<types>
		<xs:schema xmlns:tns="http://ws.morgann.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.morgann.com/">
			<xs:element name="Job" type="tns:job"/>
			<xs:complexType name="job">
				<xs:sequence>
					<xs:element name="reference" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="getHelloWorldAsString">
		<part name="arg0" type="xsd:string"/>
	</message>
	<message name="getHelloWorldAsStringResponse">
		<part name="return" type="xsd:string"/>
	</message>
	<message name="publishSchedule">
		<part name="arg0" type="xsd:string"/>
	</message>
	<message name="publishScheduleResponse"/>
	<message name="updateJob">
		<part name="arg0" type="tns:job"/>
	</message>
	<message name="updateJobResponse"/>
	<portType name="HelloWorld">
		<operation name="getHelloWorldAsString">
			<input wsam:Action="http://ws.morgann.com/HelloWorld/getHelloWorldAsStringRequest" message="tns:getHelloWorldAsString"/>
			<output wsam:Action="http://ws.morgann.com/HelloWorld/getHelloWorldAsStringResponse" message="tns:getHelloWorldAsStringResponse"/>
		</operation>
		<operation name="publishSchedule">
			<input wsam:Action="http://ws.morgann.com/HelloWorld/publishScheduleRequest" message="tns:publishSchedule"/>
			<output wsam:Action="http://ws.morgann.com/HelloWorld/publishScheduleResponse" message="tns:publishScheduleResponse"/>
		</operation>
		<operation name="updateJob">
			<input wsam:Action="http://ws.morgann.com/HelloWorld/updateJobRequest" message="tns:updateJob"/>
			<output wsam:Action="http://ws.morgann.com/HelloWorld/updateJobResponse" message="tns:updateJobResponse"/>
		</operation>
	</portType>
	<binding name="HelloWorldImplPortBinding" type="tns:HelloWorld">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
		<operation name="getHelloWorldAsString">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" namespace="http://ws.morgann.com/"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://ws.morgann.com/"/>
			</output>
		</operation>
		<operation name="publishSchedule">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" namespace="http://ws.morgann.com/"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://ws.morgann.com/"/>
			</output>
		</operation>
		<operation name="updateJob">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" namespace="http://ws.morgann.com/"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://ws.morgann.com/"/>
			</output>
		</operation>
	</binding>
	<service name="HelloWorldImplService">
		<port name="HelloWorldImplPort" binding="tns:HelloWorldImplPortBinding">
			<soap:address location="http://localhost:8099/ws/hello"/>
		</port>
	</service>
</definitions>